./build/*
./push_swap
./compile_commands.json
./checker_linux
./compile_commands.json
./check.sh
./Push-Swap-Tester/
./0
./check_100.sh
./check_500.sh
./checker_linux
./compile_commands.json
./push_swap
./push_swap_test_linux.sh
./traces.txt
